@page "/canciones"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager _navigationManager
@inject IRepositorioCanciones _repositorioCancion

<PageTitle>Canciones</PageTitle>

<h1>Canciones</h1>

<a class="btn btn-primary" href="canciones/nueva">Nuevo cancion</a>

@if (_canciones == null)
{
    <p><em>Cargando...</em></p>
}
else if (_canciones.Count() == 0)
{
    <h3>No hay canciones registradas.</h3>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Duracion</th>
                <th>Albumes</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Cancion cancion in _canciones)
            {
                <tr>
                    <td>@cancion.Titulo</td>
                    <td>@cancion.Duracion</td>
                    <td>@cancion.Album!.Titulo</td>
                    <td>
                        <button class="btn btn-outline-danger" @onclick="()=>Eliminar(cancion)" title="Eliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>

                    </td>
                    <td>
                        <button class="btn btn-outline-danger" @onclick="()=>Editar(cancion)" title="Modificar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Cancion>? _canciones;

    protected override async Task OnInitializedAsync()
    {
        _canciones = await _repositorioCancion.GetAll();
    }

    @*     protected override void OnInitialized()
    {
        _personas.Add(new() { Id=1, Nombre = "Persona1", Correo = "uno@ucol.mx", Telefono = 1111111111 });
        _personas.Add(new() { Id=2, Nombre = "Persona2", Correo = "dos@ucol.mx", Telefono = 222222222 });
        _personas.Add(new() { Id=3, Nombre = "Persona3", Correo = "tres@ucol.mx", Telefono = 333333333 });
    } *@

    private async Task Eliminar(Cancion cancion)
    {
        await _repositorioCancion.Delete(cancion.Id);
        _canciones = await _repositorioCancion.GetAll();

    }

    private void Editar(Cancion cancion)
    {
        _navigationManager.NavigateTo($"/canciones/editar/{cancion.Id}");
    }
}
